body {
    background: url('https://i.postimg.cc/d36CD1xZ/e-QYy-Dvb2-X4.png') center/cover no-repeat;
    font-family: 'Noto Sans SC', sans-serif;
}
.overlay {
    background-color: rgba(55, 65, 81, 0.5);
    backdrop-filter: blur(4px);
}
.btn:hover {
    background-color: #2563eb;
}
